<!-- <nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">
        <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-left"></span></a></li>
        <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="#">1</a></li>
        <li class="pagination__item"><a class="pagination__link link" href="#">2</a></li>
        <li class="pagination__item"><a class="pagination__link link" href="#">3</a></li>
        <li class="pagination__item"><a class="pagination__link link" href="#">4</a></li>
        <li class="pagination__item"><a class="pagination__link link" href="#">5</a></li>
        <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-right"></span></a></li>
    </ul>
</nav> -->

<nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">
        {% if items.has_previous %}
        <li class="pagination__item"><a class="pagination__link link" href="?page={{ items.previous_page_number }}">&laquo; Предыдущая</a>
        </li>
        {% else %}
        <li class="pagination__item disabled"><a class="pagination__link link" href="#" tabindex="-1" aria-disabled="true">&laquo;
                Предыдущая</a></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if items.number == i %}
        <li class="pagination__item active"><span class="icon-left">{{ i }} <span class="icon-right">(текущая)</span></span></li>
        {% else %}
        <li class="pagination__item"><a class="pagination__link link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if items.has_next %}
        <li class="pagination__item"><a class="pagination__link link" href="?page={{ items.next_page_number }}">Следующая &raquo;</a></li>
        {% else %}
        <li class="pagination__item disabled"><a class="pagination__link link" href="#" tabindex="-1" aria-disabled="true">Следующая
                &raquo;</a></li>
        {% endif %}
    </ul>
</nav>