{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}

{% block content %}

<main class="main container">
    <div class="custom-center-block">
        <h1 class="main__title">Технологии</h1>
        <p class="custom-text-block">Django, Gunicorn, PostgreSQL, Nginx</p>
        <div class="custom-button-block">
            <a href="{% url 'index' %}" class="button button_style_blue">Перейти на главную</>
            </a>
        </div>
    </div>
</main>
{% endblock %}
