{% extends "base.html" %}
{% block title %}Сброс пароля выполнен{% endblock %}

{% block content %}
{% include 'includes/header.html' with login=True %}

<main class="main container">
    <div class="custom-center-block">
        <p class="custom-text-block">Сброс пароля выполнен. Проверьте свою почту.</p>
        <div class="custom-button-block">
            <form action="{% url 'index' %}">
                <button class="button button_style_blue">Перейти на главную</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
