<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    
    {% load static %}    
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/index.css' %}">
    {% endblock %}

</head>

<body class="body">
    {% csrf_token %}
    {% include 'includes/header.html' %}

    <!-- content + pagination: main-->
    {% block content %}
    <!-- навигация: в каждый шаблон header отдельно-->
    {% endblock %}

    <!-- footer: footer -->
    {% include 'includes/footer.html' %}

    <!-- JavaScript: script -->
    {% block js %}
    {% endblock %}

</body>

</html>
