<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Название страницы{% endblock %}</title>
    <link rel="stylesheet" href="{% block main_css %}/static/pages/index.css{% endblock main_css %}">
</head>

<body class="body">

    <!-- content + pagination: main-->
    {% block content %}
    <!-- навигация: в каждый шаблон header отдельно-->
    {% endblock %}

    <!-- footer: footer -->
    {% include 'includes/footer.html' %}

    <!-- JavaScript: script -->
    {% block js %}
    {% endblock %}

</body>

</html>
