{% extends "base.html" %}
{% block title %}Избранное{% endblock %}

{% block content %}
{% include 'includes/header.html' with index=True %}


<main class="main container">

    <div class="main__header">
        <h1 class="main__title">Избранное</h1>

        <!-- теги.html -->
        {% include 'includes/tags.html' %}
        <!-- /теги -->
    </div>


    <div class="card-list">
        <!-- card.html -->
        {% for x in '0123456789'|make_list %}
        {% include 'includes/card.html' %}
        {% endfor %}
        <!-- /card -->
    </div>


    <!-- pagination -->
    {% include 'includes/pagination.html' %}
    <!-- /pagination -->

</main>

{% block js %}
<script src="./js/components/MainCards.js"></script>

<script src="./js/components/Purchases.js"></script>
<script src="./js/components/Favorites.js"></script>

<script src="./js/config/config.js"></script>
<script src="./js/components/CardList.js"></script>
<script src="./js/components/Header.js"></script>

<script src="./js/api/Api.js"></script>
<script src="favorite.js"></script>
{% endblock %}
